@use "../../styles/mixin.scss" as *;

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-bg);
    border-bottom: var(--border) solid var(--color-text);
}

.inner {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2.6em;
}

.logo {
    font-family: var(--font-en);
    font-size: var(--fs-md);
    line-height: 1;
}

.nav {
    display: flex;
    gap: var(--space-xs);
    list-style: none;
}

.navLink {
    font-family: var(--font-en);
    font-size: var(--fs-sm);
}