@use "mixin" as *;

.article {
    @include container;
    padding-top: var(--space-2xl);
}

.title {
    font-family: var(--font-en);
    font-size: var(--fs-xl);
    line-height: var(--lh-heading);
    font-weight: 500;
}

.summary {
    margin-top: var(--space-md);
    max-width: var(--width-text);
}

.meta {
    display: grid;
    gap: var(--space-2xs);
    margin-top: var(--space-xl);
}

.metaRow {
    display: flex;
}

.mainImage {
    margin-top: var(--space-2xl);
    aspect-ratio: 16 / 10;
    background-color: var(--color-bg-sub);
}